extends base.pug
block content 
 .container-grey
  .form-container
   form.login.form-page
    h3.heading-secondary LOGIN
    .entry
     .entry-text Email
     input(type='email' id='email' placeholder='Your Email' required='')
    .entry
     .entry-text Password
     input(type='password' name='password' id='password' placeholder='Your Password')
     span#message  
    .entry 
     .btn-parent.left
      button(type="submit").btn.btn-full.form-button.loginBtn LOGIN
      .form-links__group
       a(href="/signup").form-links Signup 
       a(href="/forgetPassword").form-links.forgetPw Forget Password
block scripts
 script(src="./js/login.js") 